<p>
	<strong><%= t('.author_comment') %></strong>
	<%= comment.commenter %>
</p>
 
<p>
	<strong><%= t('.body_comment') %></strong>
	<%= comment.body %>
</p>

<p><%= comment.created_at %></p>

<% if current_user %>
<% else %>
  <p>
    <%= link_to t('.edit_comment_link'), edit_article_comment_path(comment.article, comment) %>
  </p>

  <p>
    <%= link_to t('.destroy_comment_link'), [comment.article, comment],
                method: :delete,
                data: { confirm: t('.confirm_destroy_comment') } %>
  </p>
<% end %>