<%= form_with(model: [ @article, @article.comments.build], local: true) do |f| %>

    <div class="form-group">
        <%= f.hidden_field :commenter, :value => current_user.pseudo %>
    </div>

    <div class="form-group">
      <%= f.label :contenu %>
      <%= f.text_area :body, class: "form-control" %>
    </div>

  <p>
    <%= f.submit t('.submit_new_comment') %>
  </p>
<% end %>