<%= simple_form_for [:admin, @article] do |f| %>
    <%= f.hidden_field :admin_id, :value => current_admin.id %>
    <%= f.input :title, label: 'Title' %>
    <%= f.input :text, label: 'Content' %>
    <%= f.input :slug, label: 'Slug' %>
    <%= f.input :image, as: :file %>
    <div class="form-group">
      <%= collection_select(:article, :category_id, Category.all, :id, :title) %>
    </div>
    <%= f.button :submit %>
<% end %>
