<%= simple_form_for [:admin, @article] do |f| %>
    <%= f.hidden_field :admin_id, :value => current_admin.id %>
    <%= f.input :language, as: :select, collection: { :français => :fr, :anglais => :en }, include_blank: false %>
    <%= f.input :title %>
    <%= f.input :text %>
    <%= f.hidden_field :slug %>
    <%= f.input :image, as: :file %>
    <div class="form-group">
      <%= collection_select(:article, :category_id, Category.all, :id, :title) %>
    </div>
    <%= f.button :submit, value: "#{f.object.new_record? ? t('.admin_simple_form_create_article_submit') : t('.admin_simple_form_update_article_submit')}" %>
<% end %>
