<div>
  <%= link_to 'Back', admin_articles_path, class: "btn btn-link btn-lg active" %>
</div>
<div class="col-md-10 col-md-offset-1">
  <div class="jumbotron">
    <h2 class="text-center"><%= @article.title %></h2>
    <p class="text-center"><img src="<%= @article.image %>" title="<%= @article.title %>" alt="<%= @article.title %>"></p>
    <p class="text-center lead"><%= @article.text %></p>
    <br>
  </div>
</div>
<div class="col-md-10 col-md-offset-1">
  <div class="jumbotron">
    <h2><%= t('.show_admin_h2_comment') %></h2>

    <%= render @article.comments %>
  </div>
</div>