<p id="notice"><%= notice %></p>

<h1>Tous les articles : </h1>
<br>
<% @articles.each do |article| %>
    <div class="col-md-10 col-md-offset-1">
      <div class="jumbotron">
        <p class="text-center lead"><%= article.title %><p>
        <p><img src="<%= article.url_picture %>" width="100%" heigth="200px"></p>
        <p class="text-center lead"><%= article.text[0, 100] %></p>
        <br>
        <p class="text-center"><%= link_to "En lire plus", article_path(article), class: "btn btn-info btn-lg active"%></p>
      </div>
    </div>
<% end %>

<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>