<p id="notice"><%= notice %></p>
<div class="col-md-10 col-md-offset-1">
  <div class="jumbotron">
    <h1 class="text-center"><%= @article.title %></h1>
    <p><img src="<%= @article.url_picture %>" width="100%" heigth="200px"></p>
    <p class="text-center lead"><%= @article.text %></p>
    <br>
  </div>
</div>
<div class="col-md-10 col-md-offset-1">
  <div class="jumbotron">
    <h3>Commentaire</h3>

    <%= render @article.comments %>

    <%= render 'comments/form_new' %>
  </div>
</div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<div style="margin-bottom: 10px"></div>