<div class="row">
  <%= link_to 'Back', blog_path, class: "btn btn-link btn-lg active" %>
</div>

<div class="col-md-10 col-md-offset-1">
  <div class="jumbotron">
    <h1 class="text-center"><%= @article.title %></h1>
    <p class="text-center"><img src="<%= @article.image %>"></p>
    <p class="text-center lead"><%= @article.text %></p>
    <br>
  </div>
</div>
<div class="col-md-10 col-md-offset-1">
  <div class="jumbotron">
    <h3>Commentaire</h3>

    <% if user_signed_in? %>
      <%= render @article.comments.alpha %>

      <%= render 'comments/form_new' %>

    <% else %>
      <p>Veuillez vous connecter pour pouvoir poster un commentaire.</p>
    <% end %>
  </div>
</div>

<div style="margin-bottom: 10px"></div>